<% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "Error") %> </h2>
    <ul>
    <% @user.errors.each do |error| %>
        <li> <%= error.full_message %></li>
        <% end %>
    </ul>
    <% end %>

<%= form_with model: @user do |f| %>
    <%= f.label "Username:" %>
    <%= f.text_field :username %>
    <%= f.label :email%>
    <%= f.email_field :email, placeholder: "email@example.com" %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Submit" %>
<% end %>