<!---<form action="/users" method="post">
  <label for="username">Username:</label>
  <input type="text" name="user[username]"><br><br>
  <label for="email">Email:</label>
  <input type="email" name="user[email]"><br><br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]"> <br> <br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form> -->

<% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "Error") %> </h2>
    <ul>
    <% @user.errors.each do |error| %>
        <li> <%= error.full_message %></li>
        <% end %>
    </ul>
    <% end %>

<%= form_with model: @user do |f| %>
    <%= f.label "Username:" %>
    <%= f.text_field :username, :value => "test" %>
    <%= f.label :email%>
    <%= f.email_field :email, placeholder: "email@example.com" %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Create" %>
<% end %>